html,body{
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}
.row {
    display: flex;
    justify-content: center;
}
.screen {
    text-align: end;
    flex: 1;
    padding: 10px;
    font-size: 30px;
    background-color: white;
}
button {
    flex: 1;
}
.container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;    
}
.buttons {
    display: flex;
    flex: 4;
}
.digit {
    background-color: beige;
}
.buttons>div {
    flex: 1;
}